name = "glacier"
version = "1.1.0"

licences = ["Apache-2.0"]
description = "Glacier brings incremental interactive unit testing to Gleam. It is meant as a drop-in replacement for Gleeunit and depends and wraps a fork of it."
repository = { type = "github", user = "inoas", repo = "glacier" }
# links = [{ title = "Website", href = "https://gleam.run" }]
internal_modules = ["glacier_demo", "glacier_demo/*"]
gleam = ">= 1.0.0"

[dependencies]
argv = ">= 1.0.0 and < 2.0.0"
fs = ">= 8.6.0 and < 9.0.0"
glacier_gleeunit = ">= 1.2.1001 and < 2.0.0"
# glacier_gleeunit = { path = "../gleeunit" }
gleam_community_ansi = ">= 1.4.0 and < 2.0.0"
gleam_community_colour = ">= 1.4.0 and < 2.0.0"
gleam_stdlib = ">= 0.36.0 and < 2.0.0"
shellout = ">= 1.6.0 and < 2.0.0"
simplifile = ">= 2.0.0 and < 3.0.0"

[javascript.deno]
allow_net = ["deno.land"]
allow_read = ["./"]
allow_run = ["gleam"]

[documentation]
pages = [
  { title = "Changelog", path = "changelog.html", source = "CHANGELOG.md" },
  { title = "Contribute", path = "contribute.html", source = "CONTRIBUTE.md" },
  { title = "Licence", path = "licence.html", source = "LICENCE" },
]
